body{
    background-color: rgb(70, 70, 70);
}

.book{
    background-color: rgb(200, 200, 200);
    margin-left: 10vw;
    margin-top: 10vh;
    width: 80vw;
    height: 80vh;
    border: white .1em solid;
    border-radius: .5em;
}

.text{
    color: black;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 1em;
}

.buttons{
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 50vw;
}

.buttons > button{
    color: white;
    background-color: rgb(20, 20, 20);
    border: solid white .1em;
    border-radius: 0.25em;
    width: 7vh;
    height: 7vh;
    font-size: xxx-large;
}